.card {
    position: relative; // relative to locate, absolute default
    height: 200px;
    width: 31vw;
    left: 0px;  //modify to position
    top: 0px;   //modify to position
    bottom: 0px;
    border-radius: 12px;
    background: #FFFFFF;
    overflow: hidden;
    margin-bottom: 5px;
    margin: 10px;
    max-width: 1200px;
    
    border: 1px solid aqua;
}

.card--photo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 62%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    //position: absolute;

    border-radius: 4px;
    background: #FFF;
}

.card--photo img {
    margin-top: 8px;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.card--title {
    //height: 12px;
    //width: 100px;
    align-self: center;
    left: 0px;
    top: 2px;
    font-size: 13px;
}

.card--id {
    //position: absolute;
    height: 38px;
    left: 0px;
    right: 0px;
    //top: 264px;
}

.photo {
    display: flex;
    margin: 0px;
    padding: 5px;
    height:50px;
    width: 50px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    border-radius: 4px;
    background: #C4C4C4;
}


